@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* Miscellanous */
body {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.quiz-container {
    position: relative;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    max-height: 90vh; /* Restrict height */
    text-align: center;
    overflow-y: auto; /* Enable scrolling within the container */
}


.hidden {
    display: none;
}


/* For the MCQ and Options */

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
    width: 100%; 
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; 
    box-sizing: border-box; 
    margin: 5px 20px;
    border:solid;
    text-align: center;
    background-color: #e0e0e0;
}

.option-container:hover {
    background-color: #d0d0d0;
}


.option-image {
    width: 100%;
    height: 140px; 
    object-fit: cover; 
    margin-bottom: 10px;
}

.option {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: normal; 
    overflow-wrap: break-word;
    height: auto; 
    min-height: 40px;
}




/* For displaying of score and combo */
#score-combo {
    display: flex;
    justify-content: center; /* Center items horizontally */
    margin: 5px 0px 10px 0px;
    font-size: 18px;
    width: 100%; /* Ensure it takes up full width */
}

#score-combo > div {
    margin: 0 20px; /* Add some space between score and combo */
}


/* For displaying of points bar */
#progress-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
    display: flex;
    align-items: center;
}

#point-icon {
    font-size: 24px;
    color: #9c920a; /* Match the progress bar color */
    margin-right: 10px; /* Space between the icon and the progress bar */
}

#progress-bar-wrapper {
    position: relative;
    width: 100%;
    background-color: #e0e0e0;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#progress-bar {
    background-color: #4caf50;
    height: 100%;
    width: 0;
    transition: width 0.5s;
}

#star-markers {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    padding: 0 5px;
}

.star-marker {
    font-size: 24px;
    color: gold;
    position: relative;
}

#quarter-markers {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.quarter-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.5px;
    background-color: rgba(125, 125, 125, 0.43);
}

#marker1 {
    left: 25%;
}

#marker2 {
    left: 50%;
}

#marker3 {
    left: 75%;
}

#star1, #star2, #star3 {
    position: absolute;
}

#star1 {
    left: calc(500/2000 * 100% - 1/55 * 100%);
}

#star2 {
    left: calc(1000/2000 * 100% - 1/45 * 100%);
}

#star3 {
    left: calc(1500/2000 * 100% - 1/34 * 100%);
}


/* For displaying of timer */
#timer-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
}

#timer-top-row {
    display: flex;
    align-items: center; 
    width: 100%; 
    max-width: 600px;
}

#timer-icon {
    margin-right: 10px; 
}

#timer-bar-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative; 
    width: 100%; 
    max-width: 500px;
}

#timer-bg {
    height: 20px;
    background-color: #e0e0e0; 
    border-radius: 5px;
    width: 100%;
    position: relative; 
    top: 0;
    left: 0;
    z-index: 1;
}

#timer-bar {
    height: 20px;
    background-color: #4caf50; 
    border-radius: 5px;
    width: 100%; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 2; 
    transition: width 1.0s linear; 
}

#time-left {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px; 
    margin-bottom: 2px;
    text-align: center; 
    width: 100%; 
    max-width: 600px; 
}

#star-rating {
    font-size: 50px;
    color: gold;
    margin-top: 20px;
}


/* For displaying of the wrong options at the end */
#wrong-questions-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin-top: 20px; /* Space above the review box */
}

#wrong-question-number {
    font-size: 18px;
    margin-bottom: 10px;
}

#wrong-question-text,
#wrong-question-choice,
#show-right-answer,
#wrong-question-explanation {
    margin-bottom: 10px;
}


/* For buttons */
#prev-wrong-button,
#next-wrong-button,
#next-button,
#restart-button,
#return-button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}







