.quiz-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

.options {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-image {
    width: 100px; /* Adjust the size as needed */
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.option {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #d0d0d0;
}

.hidden {
    display: none;
}
